<div class="bodyy">
    <div class="navbar">
        <div class="nav">
            <button class="btn">Cont</button>
            <div>
                <div>
                    
                </div>
                <div>
                    <button class="btn" [matMenuTriggerFor]="beforeMenu">Before</button>
                    <mat-menu class="matMenuBox" #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item class="menuItem">Item 1</button>
                        <button mat-menu-item class="menuItem" (click)="logout()">Log out</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>